body {
    background: #252525;
  }

/*without this, the title would be too long height wise*/
* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px;
  }

  @font-face {
    font-family: Oswald;
    src: url(Oswald-SemiBold.ttf);
  }

  @font-face {
    font-family: ENGINE;
    src: url(ENGINE.ttf);
  } 

#Myself {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 550px;
  border-radius: 15px;
  max-width: 100%;
}


.CenterTitle{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}



  
.titleSquare {
    display:flex;
    justify-content: center;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(43, 61, 61);
    width: 900%;
    max-width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
    box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
  }



.titleSquare, .portfolio > p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 70px;
    font-family: Oswald;
    text-align:center;
    padding-bottom: 13px;
}



.article1 {
    display: flex;
    margin-top: 55px;
    margin-bottom: -10px;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    flex-wrap: wrap;
    max-width: 100%;
    gap: 60px;
    margin-left: 10px;
    margin-right: 10px;

  }

.article1 > p {
    display: flex;
    color: #1ec4cd;
    font-size: 30px;
    font-family:Arial;
    width:1000px;
    text-align: left;
    margin-top: 1vw;
    font-weight:550;
}

.centerImg{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  gap: 20px;
}




@media screen and (max-width: 1080px) {
  .container {
    flex-direction: column; /* Stacks the buttons vertically */
    align-items: center;    /* Centers buttons vertically in the column */
  }
  
  .lightT, .lightP {
    margin-top: 20px; /* Adjust margin for spacing between buttons */
    width: 90%; /* Make buttons responsive in smaller screens */
  }
}

.centerButtons{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center; /* Centers buttons horizontally */
}

.buttonBlock {
  display: flex;
  align-content: center;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(33, 46, 46);
  width: 100%;
  max-width: 90%;
  padding-bottom: 60px;
  margin-top: 70px;
  margin-bottom: 30px;
  padding-right: 4%;
}


/* red light no mouse hover*/
.lightT {
    border: 5px solid #ffffff;
    border-radius: 12px;
    background-color: rgb(13, 96, 100);
    width:300px;
    height: 200px;;
    margin-top: 80px;
    margin-left: 80px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(22, 148, 155,1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(22, 148, 155,1);
    box-shadow: 0px 0px 21px 5px rgba(22, 148, 155,1);
  }
.lightT > p {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 2px;
    color: rgb(13, 96, 100);
    font-family:Oswald;
    text-align:center;
  }

/* red light mouse hover*/
.lightT:hover {
  border: 5px solid #ffffff;
  background-color: rgb(17, 153, 160);
  width:310px;
  height: 210px;;
  margin-top: 75px;
  -webkit-box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
  -moz-box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
  box-shadow: 0px 0px 21px 5px rgba(30, 196, 205,1);
}
.lightT:hover > p {
  -webkit-text-stroke-color: #ffffff;
  color: rgb(13, 96, 100);
}


/* green light no mouse hover*/
.lightP {
  border: 5px solid #d9bbff;
  border-radius: 12px;
  background-color: rgb(85, 53, 129);
  width:300px;
  height: 200px;;
  margin-top: 80px;
  margin-left: 80px;
  -webkit-box-shadow: 0px 0px 21px 5px rgba(110,49,196,1);
  -moz-box-shadow: 0px 0px 21px 5px rgba(110,49,196,1);
  box-shadow: 0px 0px 21px 5px rgba(110,49,196,1);
  cursor: pointer;
}
.lightP > p {
  -webkit-text-stroke-color: rgb(207, 207, 207);
  -webkit-text-stroke-width: 2.5px;
  color: #5300a0;
  font-family:Oswald;
  text-align:center;
}

.lightP:hover {
  border: 5px solid #e7d4ff;
  background-color: rgb(148,87,235);
  width:310px;
  height: 210px;;
  margin-top: 75px;
  margin-left: 90px;
  -webkit-box-shadow: 0px 0px 30px 8px rgba(148,87,235,1);
  -moz-box-shadow: 0px 0px 30px 8px rgba(148,87,235,1);
  box-shadow: 0px 0px 30px 8px rgba(148,87,235,1);
}
.lightP:hover > p {
  -webkit-text-stroke-color: #e7d4ff;
  color: #6b00cf;
}



.lightS1 > p {
  font-size: 68px;
  margin-top: 45px;
}
.lightS1:hover > p {
  font-size: 78px;
  margin-top:45px;
  -webkit-text-stroke-width: 3px;
}

.lightS2 > p {
  line-height: 120%;
  font-size: 60px;
  margin-top: 26px;
}
.lightS2:hover > p {
  font-size: 70px;
  line-height: 115%;
  margin-top: 23px;
  -webkit-text-stroke-width: 3px;
}

.lightS3 > p {
  line-height: 125%;
  font-size: 50px;
  margin-top: 38px;
}
.lightS3:hover > p {
  font-size: 57px;
  line-height: 125%;
  margin-top: 38px;
}

